extends layout

block content
  div#about.w3-container.w3-padding-64
    h2.w3-margin-w3-jumbo Um verkefnið
    div.w3-twothird
      p.w3-margin
        | Verkefnið er unnið af Unu Helgu Jónsdóttur og er lokaverkefni í meistaranámi við fornleifafræðideild HÍ.
        | Leiðbeinandi er Gavin Lucas, for .... (um Gavin)
        | Una Helga kláraði BA í fornleifafræði árið 2011, en starfar nú sem framkvæmdastjóri hjá menningaferðaskrifstofunni Mundo.
        | Una hefur því ekki bakgrunn í tölvugeiranum en hefur mikinn áhuga á framsetningu fræðiefnis og því að almenningur, leikmenn og börn hafi greiðan aðgang að fræðsluefni sem snertir alla þjóðina.
        | Tæknilegir hlutir, líkt og kóðun gagnvirka kortsins, voru unnir í sameiningu við eiginmann Unu Helgu, Agnar Darra Lárusson, og kann hún honum innilegar þakkir fyrir allt framlagið.
        | Spurning að afhenda síðuna Minjastofnun til nánari vinnslu?
        | Viljir þú lesa nánar um verkefnið, aðferðafræðina, takmarkanir, fyrri rannsóknir o.fl. getur þú smellt hér til að lesa ritgerð höfundar sem fylgir verkefninu.
    div.w3-rest.w3-container
      img(src='/images/una.png',style="width:75%").w3-padding.w3-circle
